.modal h3 {
  text-align: center;
  font-size: 18px;
  color: #333;
}

/* Form styling */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form input {
  margin-bottom: 5px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 12px;
  transition: border-color 0.2s;
}

.modal-form select {
  margin-bottom: 10px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.modal-form textarea {
  margin-bottom: 1px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.modal-form input:focus {
  outline: none;
  border-color: #007bff;
}

/* Button styles */
.save-button,
.close-button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.save-button {
  background-color: #324d7a;
  color: white;
}

.save-button:hover {
  background-color: #4b72b6;
}

.close-button {
  background-color: #dc3545;
  color: white;
  margin-top: 8px;
}

.close-button:hover {
  background-color: #c82333;
}

/* Add button */
.Add-button {
  background-color: #324d7a ;
  color: white;
  border: none;
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
  transition: background 0.2s;
}

.Add-button:hover {
  background-color: #4b72b6;
}