
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
}

thead {
  background-color: #007bff;
  color: white;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal container */
.modal {
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.3s ease;
}

/* Animation */
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Modal heading */
.modal h3 {
  text-align: center;
  font-size: 18px;
  color: #333;
}

/* Form styling */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form input {
  margin-bottom: 5px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 12px;
  transition: border-color 0.2s;
}

.modal-form input:focus {
  outline: none;
  border-color: #007bff;
}

.modal-form select {
  margin-bottom: 10px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s;
}

/* Button styles */
.save-button,
.close-button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.save-button {
  background-color: #324d7a;
  color: white;
}

.save-button:hover {
  background-color: #4b72b6;
}

.close-button {
  background-color: #dc3545;
  color: white;
  margin-top: 8px;
}

.close-button:hover {
  background-color: #c82333;
}

/* Add button */
.Add-button {
  background-color: #324d7a;
  color: white;
  border: none;
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
  transition: background 0.2s;
}

.Add-button:hover {
  background-color: #4b72b6;
}

.status-button {
  background-color: #324d7a;
  color: white;
  border: none;
  margin-right: 10px;
  padding: 10px 10px;
  font-size: 10px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 5px;
  transition: background 0.2s;

}

.status-button:hover {
  background-color: #4b72b6;
}